<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
    <script src="https://unpkg.com/htmx.org@2.0.4"></script>
    <link rel="stylesheet" href="/static/styles.css" />
  </head>
  <body>
    <div class="container">
      <nav
        class="navbar"
        hx-get="/nav"
        hx-target="this"
        hx-trigger="load, [[USER_STATE_CHANGE_EVENT]] from:body"
      >
        <!-- navbar content will be loaded here -->
      </nav>
      <main id="content" hx-get="/home" hx-trigger="load">
        <!-- Initial content will be loaded here -->
      </main>
    </div>
  </body>
</html>
